    <div class="page-header text-center">
        <h1><i class="fa fa-book" aria-hidden="true"></i> Welcome to Curriculum-It!</h1>
        {{!-- <h3><span class="fa fa-user"></span> Local</h3> --}}  
    </div>
    <br>
    {{!-- navbar for top of the page to link to the homepage, the sign up form and the onoging course tracking page --}}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/profile" id="home">Home</a>
        </li>
       
        <li class="nav-item">
            <a href="/logout" class="nav-link" id="logout">Logout</a>
        </li>
        <div class="col-8">
        </div>
        <p class="ml4" class="h4">Hello{{#if passedData.user}} 
            {{#if passedData.user.local.name}} {{passedData.user.local.name}} {{/if}}
            {{#if passedData.user.facebook.token}} {{passedData.user.facebook.name}} {{/if}}
            {{#if passedData.user.twitter.token}} {{passedData.user.twitter.displayName }} {{/if}}
            {{#if passedData.user.google.token}} {{passedData.user.google.name}} {{/if}}
            {{else}}
                 No address given
            {{/if}}
        </p>
    </ul>
    <br>
    
<br>
{{!-- buttons to select course names --}}
<div class="container1">
    <div class="row">
        <div class="col" id="dropdown">

            <p class="h3">Click to Enroll in Course</p>
            <br>
            <div class="row">
            {{#each passedData.courses}}
                <form id="create" action="/profile/enroll/{{courseid}}" method="post">
                <input type="hidden" class="input" id="enrollCourse1" name="enrollCourse1" value="{{passedData.user.local.id}}">  
                    <button type="submit" class="btn btn-narrow mb1" class="class-btn" class="enroll" id="enroll">{{name}}</button>
                </form>                    
            {{/each}}
            </div>
        </div>
{{!-- form to create own course --}}
        <div class="col">
            <form id="create1" action="/profile/addcourse" method="post">
            <p class="h3">Create Your Own Course</p>
            <label class="label">Course Name</label>
            <input type="text" class="input" id="courseName" name="courseName">
            <br>
            <label class="label" id="second-label">Description</label>
            <textarea class="textarea" rows="3" id="description" name="description"></textarea>
            <br><br>
            <input type="submit" class="btn" id="submit" value="Submit">
        </form>
        </div>
    </div>
</div>
<br>

{{!-- content linked to the track your progress button, will be hidden until the link is clicked in the navbar --}}
<div class="container2">
    <div class="course-list">
        
        <div class="row">
            <div class="col">
                <h3 class="mt1">Classes In Progress</h3>                    
            </div>
           <br><br><br>

        </div>

        <div class="row">
            <div class="col-12">
                {{#each passedData.myCourses}}
                <div class="row">

                    <div class="col-4">
                        {{#if inprogress}}
                        <p>{{this.name}} {{this.description}}{{this.signups}}</p>
                    </div>
                      
                    <div class="col-4">
                    {{else}}
                        <p>{{this.name}} {{this.description}}</p>

                    </div>

                    <div class="col-3">

                        {{!-- {{#if passedData.myCourses}} --}}
                        
                        <form method="post" id ="update" action="/profile/updatecourse/{{this.signups}}">
                        <button type="submit" class="btn mb1" id="complete">Completed Course</button>
                        </form>

                    </div>

                    <div class="col-3">
                        
                        {{!-- {{#if passedData.myCourses}} --}}

                    <form method="post" id= "delete" action="/profile/deletecourse/{{this.signups}}">
                    <button type="submit" class="btn mb1" id="delete">Quit Course</button>
                    </form>
                     {{/if}}

                    </div>
                </div>
                    
                    {{/each}}   
            </div>    
        </div> <!--End second container row-->
    </div> <!--End Course list-->
    <br>

    <div class="completed-list">
        <h3 class="mt1">Completed Courses</h3>
    </div>

</div> <!--End Container 2-->